:root {
    --background-color: rgb(5, 15, 31);
    --secondary-color: rgb(41, 48, 70);
    --white-color: rgb(255, 255, 255);
    --accent-color: #08fdd8;
    --breath-time: 8s
}

body {
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
main::-webkit-scrollbar{ 
    display: none;  /* Safari and Chrome */
}
main {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

html {
    overflow: hidden;
    line-height: 2.2rem;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
a,
p,
span {
    color: var(--white-color);
    margin: 0;
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }

    50% {
        scale: 1 1.5;
    }

    to {
        rotate: 360deg;
    }
}

#blob {
    height: 40%;
    aspect-ratio: 1;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    background: linear-gradient(to right, #58287a, #914d65);
    animation: rotate 20s infinite;
    opacity: 0.8;
    overflow: hidden;
}
/* Take out blob not on laptops, was breaking it */
@media only screen and (max-width: 1026px) { 
    #blob { 
      display: none; 
    } 
}

#blur {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(12vmax);
}

nav {
    position: absolute;
    display: flex;
    width: 100%;
    max-height: 10vmax;
    z-index: 3;
    justify-content: left;
    min-height: 10vmin;
    padding-bottom: clamp(0.1vw, 1vmax, 1.2vmax);
}

nav>.nav-section {
    display: flex;
    /* Not sure if I like the borders or not */
    /* border-left: 2px solid rgba(255, 255, 255, 0.09); */
    /* border-bottom: 2px solid rgba(255, 255, 255, 0.09); */
    background-color: var(--background-color);
    align-items: center;
}

#nav-name-section {
    padding-left: 1vw;
    flex-basis: 50%;
}

.nav-name {
    font-size: clamp(0.5vw, 2.4vmax, 2.5vmax);
    color: var(--white-color)
}

.nav-profession {
    font-size: clamp(0.2vw, 1rem, 1.5vmax);
    color: rgb(255, 255, 255);
}


#nav-social-section {
    flex-basis: calc(100% / 8);
    font-size: clamp(0.3vw, 0.8vmax, 2.2vmax);
    gap: 2vw;
    justify-content: center;
    padding-left: clamp(5px, 0.75vw, 1vw);
    padding-right: clamp(5px, 0.75vw, 1vw);
}

#nav-links-section {
    flex-grow: 1;
    justify-content: end;
    align-items: center;
    gap: 2vw;
    padding-right: clamp(0px, 3.5vw, 3.5vw);
    font-size: clamp(0.9vw, 2.4vw, 1.8vmax);
}

.grow:hover {
    transition: all .25s ease-in-out;
    transform: scale(1.05);
    color: var(--accent-color);
}

main {
    scroll-behavior: smooth;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 2vw 3vw 1vw 3vw;
    z-index: 2;
    overflow-y: scroll;
}

.landing-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    margin-bottom: 10%;
}

/* Getting into phone land */
@media only screen and (max-width: 650px) {
    main {
        line-height: 1.3rem;
        padding-left: 2vw !important;
        padding-right: 2vw !important;
    }
    #nav-links-section {
        padding-right: 2%;
    }
    .landing-intro {
        flex-direction: column;
        text-align: center;
        font-size: medium;
        margin-bottom: 5%;
        align-items: center;
    }
    .intro-text {
        flex-wrap: wrap;
        margin-top: 2%;
        padding-left: 0% !important;
        font-size: small !important;
        justify-content: center;
        max-width: 80% !important;
        text-align: center;
    }
    .personal-photo {
        width: 60% !important;
    }
    #picture-decoration {
        padding-top: 5% !important;
    }
    #projects > p {
        font-size: medium !important;
    }
}

#picture-decoration {
    padding-top: 5%;
    display: flex;
    justify-content: center;
}

@keyframes bounce {
    from {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(2vh);
    }


    to {
        transform: translateY(0px);
    }
}

.personal-photo {
    width: clamp(40%, 90%, 100%);
    max-inline-size: 80%;
    min-width: 120px;
    max-width: 300px;
    height: auto;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 3px solid var(--accent-color);
    justify-content: center;
    animation: bounce var(--breath-time) infinite;
}

.intro-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15%;
    padding-top: 5%;
    font-size: 2rem;
    text-align: left;
    max-width: 45%;
}

#landing-name {
    color: var(--accent-color);
}

#tech-column {
    display: flex;
    gap: 2.5rem;
    color: var(--white-color);
    align-items: center;
    justify-content: center;
}