#blob {
    height: 40%;
    aspect-ratio: 1;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    background: linear-gradient(to right, #58287a, #914d65);
    animation: rotate 20s infinite;
    opacity: 0.8;
    overflow: hidden;
}
@keyframes rotate {
    from {
        rotate: 0deg;
    }

    50% {
        scale: 1 1.5;
    }

    to {
        rotate: 360deg;
    }
}
/* Take out blob not on laptops, was breaking it */
@media only screen and (max-width: 1026px) {
    #blob {
        display: none;
    }
}

#blur {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(12vmax);
}

main {
    scroll-behavior: smooth;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 2vw 3vw 1vw 3vw;
    z-index: 2;
    overflow-y: scroll;
}

.landing-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    margin-bottom: 10%;
}

#job-status {
    color: rgba(255,255,255,0.4);
    font-size: 1.5rem;
}

#picture-decoration {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    animation: bounce var(--breath-time) infinite;
}


@keyframes bounce {
    from {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(2vh);
    }


    to {
        transform: translateY(0px);
    }
}

.personal-photo {
    width: clamp(40%, 90%, 100%);
    max-inline-size: 80%;
    min-width: 120px;
    max-width: 300px;
    height: auto;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 3px solid var(--accent-color);
    justify-content: center;
}

.intro-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15%;
    padding-top: 5%;
    font-size: 2rem;
    text-align: left;
    max-width: 60%;
}

#landing-highlight {
    color: var(--accent-color);
}

.tech-column {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--white-color);
    align-items: center;
}

.stack {
    display: flex;
    gap: 3rem;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
}

.tech-image {
    border: none;
    max-height: 100%;
    width: 3em;
    aspect-ratio: 1;
}

/* Getting into phone land */
@media only screen and (max-width: 700px) {
    main {
        line-height: 1.3rem;
        padding-left: 2vw !important;
        padding-right: 2vw !important;
    }

    #nav-links-section {
        padding-right: 2%;
    }

    .landing-intro {
        flex-direction: column;
        text-align: center;
        font-size: medium;
        margin-bottom: 5%;
        align-items: center;
    }

    .intro-text {
        flex-wrap: wrap;
        margin-top: 2%;
        padding-left: 0% !important;
        font-size: small !important;
        justify-content: center;
        max-width: 80% !important;
    }
    #job-status {
        font-size: smaller;
    }

    .personal-photo {
        width: 60% !important;
    }

    #picture-decoration {
        padding-top: 5% !important;
    }

    #projects>p {
        font-size: medium !important;
    }

    #tech-column {
        font-size: 80%;
    }
}

.footnote {
    color: var(--white-color);
    text-align: end;
}