.glowing-line {
    margin: 1vh 1vw 1vh 1rem;
    background: linear-gradient(90deg, var(--accent-color), var(--background-color));
    background-size: 400% 400%;
    height: 0.25vh;
    border-radius: 8px;
    animation: gradient var(--breath-time) ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 10% 100%;
	}
	50% {
		background-position: 100% 0%;
	}
	100% {
		background-position: 10% 100%;
	}
}

@media only screen and (max-width: 1500px) {
    .project-grid {
        grid-template-columns: repeat(1, minmax(2px, 700px)) !important;
        justify-content: center;
        align-items: center;
    }
    .button-container {
        width: 100% !important;
        margin: 1em 0px !important;
    }
}


.projects > p {
    font-size: clamp(1rem, 2.4vmax, 1.8vmax);
    text-align: start;
    padding: 1rem 0rem 0rem 1rem;
}

.project-grid {
    display: grid;
    flex-direction: row;
    gap: 2em;
    grid-template-columns: repeat(2, minmax(2px, 50%));
    padding: 1rem;
    margin-bottom: 4vh;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 10em;
}

.project {
    display: grid;
    justify-content: center;
    text-align: left;
    background: var(--secondary-color);
    font-size: clamp(1rem, 1vw, 1.5rem);
    padding: 0.3em;
    color: var(--white-color);
    box-shadow: rgba(27, 27, 27, 0.5) 0px 0.15rem 0.5rem, rgba(24, 24, 24, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;
    line-height: 2.5vmax;
}

.project:hover {
    transform: translateY(-5px);
    box-shadow: 0px 3px 30px 2px rgba(145, 145, 145, 0.3);
}

.project > p {
    font-size: clamp(0.8rem, 2vw, 1.6vmax);
}


.container {
    display: flex;
    height: 100%;
    margin: 2% 2vw 1vh 2vw;
    justify-content: center;
    column-gap: 1em;
}

.descriptor {
    width: 50%;
}
.descriptor > p {
    font-size: clamp(0.3rem, 80%, 1.2rem);
    line-height: 2em;
}

.container  .image{
    display: flex;
    width: 50%;
    height: fit-content;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 8px var(--accent-color);
}

img, video {
    max-width: 100%;
    object-fit: cover;
    aspect-ratio: 1;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
}

.tech-stack-bubble {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    gap: 1rem;
    justify-content: left;
    padding-left: 4%;
    align-items: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    scroll-behavior: smooth;
}

.tech-item {
    font-family: 'Fira Code', sans-serif;
    font-weight: 100;
    font-size: clamp(0.3rem, 80%, 1.2rem);
    background-color: rgba(14, 32, 61, 0.61);
    border: 1.5px solid var(--secondary-accent-color);
    border-radius: 8px;
    padding: 1%;
    line-height: 1rem;
    white-space: nowrap;
}

.dividing-line {
    margin: 1% 1vw 1vh 0;
    padding-left: 1%;
    background: linear-gradient(90deg, rgb(135 131 131 / 83%), transparent);    height: 0.25vh;
    border-radius: 8px;
}

.button-container {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 2rem;
    width: 45%;
    margin: 10px 10px 10px 1.5em;
    padding-bottom: 1%;
}
.button {
    border: 1px solid var(--accent-color);
    text-align: center;
    margin: auto;
    background-color: var(--secondary-accent-color);
    padding: 0.3em 1em;
    border-radius: 14px;
    box-shadow: 3px 0px 19px -5px rgba(0, 0, 0, 0.0);
    transition: box-shadow 300ms ease;
}

.button:hover {
    box-shadow: 0px 0px 19px -5px var(--accent-color);
}



@media only screen and (max-width: 650px) {
    .container {
        flex-direction: column;
        align-items: center;
        margin: 2% 0vw 3vh 0vw;
    }
    .container .image {
        margin-top: 1em;
    }
    .descriptor {
        width: 90%;
    }
    .tech-stack-bubble {
        padding-left: 0.2em;
        padding-right: 1em;
        overflow-y: hidden;
        overflow: scroll;
    }
    .project > .button-container {
        justify-content: center;
        width: auto;
        flex-wrap: wrap;
    }
    
}